/* Style buttons */
.btn2 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5rem;
  }
  
  /* Darker background on mouse-over */
  .btn2:hover {
    background-color: RoyalBlue;
  }