html{
    background-color: rgb(54, 54, 54);
    font-family: 'Courier New', Courier, monospace;
}
body{
    text-align: center;
    color: white;
    font-size: 50px;  
    font-size: x-large;
}
.btn_discord{
    border: 1px, #222, solid;
    border-radius: 15px;
    background-color: #222;
    margin-top: 20px;
    padding: 5px;
   
}
.discord_invite{
    border: 1px, #222, solid;
    border-radius: 15px;
    background-color: #222;
    margin-top: 20px;
    padding: 5px;
       
    
}